body,html {
  min-height: 70vh;
}

body {
  background-color: var(--cor-dark);
  color: white;
  font-family: 'Raleway', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  overflow-x: hidden;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}